.wrapperPosts {
 padding: 0.6rem;
 background: linear-gradient(45deg, #2F343A, transparent);
}


.formChat {
 display: flex;
 flex-direction: column;
 margin-bottom: 1rem;
}



.formChat label {
 display: block;
 margin-bottom: 0.5rem;
}


.formChat textarea {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    height: 10rem;
    width: 95%;
    background-color: #2F343A;
    border: 1px solid #2F343A;
    border-radius: 4px;
    resize: none;
}


.formChat button:not(:last-child) {
 margin-right: 0.2rem;
}

.posts {
 display: inline-flex;
 flex-direction: column;
}