
.item {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin-bottom: 0.5rem;
    align-items: center;
    padding: 8px 12px;
    border-radius: 0.7rem;
    border-left: 2px solid #4682B4;
}



.item:nth-child(even) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.44), rgba(0, 5, 5, 0.5), rgba(26, 26, 26, 0.31), rgba(191, 1, 7, 0.47));

}



.item span {
    display: flex;
    justify-content: space-evenly;
}

.groupBtn button {
    display: flex;
    /*justify-content: space-around;*/
    padding: 0.5rem;
}


.groupBtn button:first-child {
    margin-right: 0.2rem;
}

.btn {
    border-radius: 0 0.7rem 0.7rem 0
}