.wrapperImg {
    margin: 0;
}


.image {
    width: 100%;
}

.description {
    margin: 0;
    padding: 1.6rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.userCard {
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
    border: 2px solid var(--border);
    background: linear-gradient(45deg, #2F343A, transparent);
    padding: 1rem;
    gap: 1rem;
    margin: 1rem;
}

.userCard figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


.userCard h2 {
    margin: 0;
}

.wrapperStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statusDot {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%; /* делает шарик */
    margin-right: 0.7rem;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.statusRed {
    background-color: #f44336;
}

.statusGreen {
    background-color: #4caf50;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 1rem;
}

.name {
    /*margin: 0;*/
}

.status {
    font-size: 0.95em;
    color: #afabab;
}

.about {
    font-size: 0.95em;
    line-height: 1.4;
}

.avatar {
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.subtitle {
    display: inline;
    margin: 0;
    font-size: 1.7rem;
}




