
.item {
  display: inline-flex;
  /*color: blueviolet;*/
  padding: 1rem;
  border-right: 2px solid ;
  border-left: 2px solid ;

  /*border: 2px solid;*/
  border-radius: 0.7rem;
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.item img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.message {
  padding-left: 1rem;
}
