@font-face {
    font-family: 'PressStart2P-Regular';
    src: local('PressStart2P-Regular');
    src: url(fonts/PressStart2P/PressStart2P-Regular.woff) format('woff'),
    url(fonts/PressStart2P/PressStart2P-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Outerorbit-rggRL';
    src: local('Outerorbit-rggRL');
    src: url(fonts/Outerorbit/Outerorbit-rggRL.woff) format('woff'),
    url(fonts/Outerorbit/Outerorbit-rggRL.woff2) format('woff2');
}

@font-face {
    font-family: 'Righteous-Regular';
    src: local('Righteous-Regular');
    src: url(fonts/Righteous/Righteous-Regular.woff) format('woff'),
    url(fonts/Righteous/Righteous-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Exo-Italic-VariableFont_wght';
    src: local('Exo-Italic-VariableFont_wght');
    src: url(fonts/Exo/Exo-Italic-VariableFont_wght.woff) format('woff'),
    url(fonts/Exo/Exo-Italic-VariableFont_wght.woff2) format('woff2');
}


html, body {
    /*background: linear-gradient(to right, black, #05057d, #2b05a7, #9a0612) !important;*/
    /*font-family: "PressStart2P-Regular", system-ui;*/
    /*font-weight: 200;*/
    /*font-style: normal;*/

    /*font-family: "Righteous-Regular", sans-serif;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/

    font-family: "Exo-Italic-VariableFont_wght", sans-serif;
    font-weight: 600;

    background-image: url('img/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: #040467;
    font-size: 3rem;
    font-family: 'Righteous-Regular', cursive;
    font-weight: 800;
}


.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 80%;
    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 10rem 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */

}


.app-wrapper-content {
    grid-area: c;
    background-color: #3498db;
}