@font-face {
    font-family: 'PressStart2P-Regular';
    src: local('PressStart2P-Regular');
    src: url(fonts/PressStart2P/PressStart2P-Regular.woff) format('woff'),
    url(fonts/PressStart2P/PressStart2P-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Outerorbit-rggRL';
    src: local('Outerorbit-rggRL');
    src: url(fonts/Outerorbit/Outerorbit-rggRL.woff) format('woff'),
    url(fonts/Outerorbit/Outerorbit-rggRL.woff2) format('woff2');
}

@font-face {
    font-family: 'Righteous-Regular';
    src: local('Righteous-Regular');
    src: url(fonts/Righteous/Righteous-Regular.woff) format('woff'),
    url(fonts/Righteous/Righteous-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Exo-Italic-VariableFont_wght';
    src: local('Exo-Italic-VariableFont_wght');
    src: url(fonts/Exo/Exo-Italic-VariableFont_wght.woff) format('woff'),
    url(fonts/Exo/Exo-Italic-VariableFont_wght.woff2) format('woff2');
}


html, body {
    /*background: linear-gradient(to right, black, #05057d, #2b05a7, #9a0612) !important;*/
    /*font-family: "PressStart2P-Regular", system-ui;*/
    /*font-weight: 200;*/
    /*font-style: normal;*/
    /*font-family: "Righteous-Regular", sans-serif;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
    font-family: "Exo-Italic-VariableFont_wght", sans-serif;
    font-weight: 600;
    color: #99a2ab;
    background-image: url('img/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    /*color: #040467;*/
    /*color: rgba(255, 255, 255, .75);*/
    /*color: #feda4a;*/
    color: #66CCFF; /* Голубовато-синий цвет */
    text-shadow: 0 8px 10px black; /* Тень текста */
    font-size: 3rem;
    font-family: 'Righteous-Regular', cursive;
    font-weight: 800;
}

h3 {
    color: rgba(5, 224, 217, 0.76);
}

a {
    text-decoration: none;
}


.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 80%;
    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 10rem 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */

}


.app-wrapper-content {
    grid-area: c;
    /*background-color: #3498db;*/
    background: linear-gradient(45deg, #183462, transparent);
    border-bottom: 2px solid #4682B4;
    border-radius: 0.7rem;
    /*!*background: linear-gradient(45deg, #1C1F26, #8E44AD, transparent);*! фиолетовый*/
    /*background: linear-gradient(45deg, #2D383A, #8A8A8A, transparent); серый*/
    /*background: linear-gradient(to right, #212529, #1C1F26);*/
}