.dialogs {
    /*display: flex;*/
    display: grid;
    grid-template-areas:
  "n m";
    grid-template-columns: 2fr 10fr;
}


.title {
    width: 95%;
    margin: 2rem auto 0;
    padding: 0 0 1rem 0.5rem;
    border-bottom: 0.1rem solid rgb(16, 18, 26);
}

.list {
    grid-area: n;
    border-right: 0.1rem solid rgb(16, 18, 26);
}

.list .item {
    padding: 2rem;

}


.item .text  {
    display: block;
    transition: transform 0.3s ease;
    text-shadow:
            0 2px 4px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);

}

.item a.active .text {
    transform: scale(1.5);
    color: rgb(198, 154, 14);
    text-shadow:
            0 2px 4px rgba(0, 0, 0, 0.2),
            0 8px 16px rgba(0, 0, 0, 0.2);
}




.messages {
    grid-area: m;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100%;*/
    padding: 2rem 0 0 3rem;
}

.messages .message {
    margin: 0;
}

.message:not(:last-child) {
    margin-bottom: 1rem;
}