.dialogs {
    display: grid;
    grid-template-areas:
  "n m"
  "n f";
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr auto;
    padding: 1.8rem;
}


.title {
    width: 100%;
    margin: 2rem auto 0;
    padding-bottom: 1rem;
}

.list {
    grid-area: n;
    padding: 0 0 0 1rem;
    overflow-y: auto
}


.messages {
    display: flex;
    flex-direction: column;
    grid-area: m;
    margin-bottom: 0.5rem;
    padding: 2rem;
    border-left: 2px solid #4682B4;
    background: linear-gradient(45deg, #2F343A, transparent);
    border-radius: 0.7rem;
    /*scroll для сообщений*/
    overflow-y: auto;
}


.form {
    grid-area: f;
    display: flex;
}

.form textarea {
    margin: 0;
    font-size: 1rem;
}

/*.form button {*/

/*}*/
