.dialogs {
    /*display: flex;*/
    display: grid;
    grid-template-areas:
  "n m";
    grid-template-columns: 2fr 10fr;
}


.title {
    width: 100%;
    margin: 2rem auto 0;
    padding: 0 0 1rem 0.5rem;
    /*border-bottom: 0.1rem solid rgb(16, 18, 26);*/
    /*border-bottom: 1px solid #4682B4;*/
    /*border-radius: 0.7rem;*/
}

.list {
    grid-area: n;
    /*border-right: 0.1rem solid rgb(16, 18, 26);*/
}

.list .item {
    padding: 1rem 0.5rem;
    color: #4682B4;
}


.item .text  {
    display: block;
    transition: transform 0.3s ease;
    color: #4682B4;
    transform-origin: left center; /* Устанавливаем точку трансформации на левый край */
    transform: scale(1);
    text-shadow:
            0 2px 4px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);

}

.item a.active .text {
    transform: scale(1.5);
    color: rgb(198, 154, 14);
    text-shadow:
            0 2px 4px rgba(0, 0, 0, 0.2),
            0 8px 16px rgba(0, 0, 0, 0.2);
}




.messages {
    display: inline-flex;
    flex-direction: column;
    grid-area: m;
    padding: 2rem;
    /*background-color: #343033;*/
    border-left: 2px solid #4682B4;
    background: linear-gradient(45deg, #2F343A, transparent);
    border-radius: 0.7rem;
}

.messages .message {
    padding: 1rem;
    width: fit-content;
    border-radius: 0.5rem;
    background-color: #0a524d8f;
    margin: 0;
}

.message:not(:last-child) {
    margin-bottom: 1rem;
}