.message {
    padding: 1rem;
    margin: 0;
    width: fit-content;
    border-radius: 0.5rem;
    background-color: #0a524d8f;
    color: goldenrod;
}

.message:not(:last-child) {
    margin-bottom: 1rem;
}

.message:nth-child(2n) {
    align-self: end;
    color: white;
}